<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} | Prode</title>  
             {% block stylesheets %}         
            	<link href="{{ asset('bundles/prode/css/styles.css') }}"
				rel="stylesheet" type="text/css" />
                <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
              
            {% endblock %}

    </head>
    
    <body id="{% block id '' %}">

        <div class="contenedor">
            {% block body %}{% endblock %}
    	    <div class="wrapper">
        	        <div class="box header">
                        <a href="{{ path('prode_homepage') }}" class="header-titulo">
                            PRODE PERIO RUSIA 2018
                        </a>
                        <div class="header-center">
                        </div>    
                        
                           {% if app.user %}
                            <div class="text-header">
                                Hola {{app.user.nombre}}
                            </div>
                            <div class="header-login">
                                <a href="{{ path('grupoA') }}" class="btn-header">
                                   Mis grupos
                                </a>                  
                            </div>
                             <div class="header-login">
                                <a href="{{ path('logout') }}" class="btn-header">
                                    Salir
                                </a>
                            
                             </div>     
                             {% else %}
                                 <div></div>
                                <div class="header-login">
                                    <a href="{{ path('login') }}" class="btn-header">
                                        Ingresar
                                    </a>
                                </div>   
                                <div class="header-login"> 
                                    <a href="{{ path('registro') }}" class="btn-header">
                                        Registrarse
                                    </a>
                                </div>    
                           {% endif %}
                            
                        </div>
                                
                    {% block header %}

                    {% endblock %}    
        
        	    <div class="box sidebar">
                    {% block sidebar %}
                    {% endblock %} 
                </div>


            	<div class="box content">
                    {% block content %}
                    {% endblock %}    
        	    </div>

    	    </div>
                            
                <div class="box footer">
                    {% block footer %}
                    {% endblock %}
                </div>
            {% block javascripts %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
               <script src="{{ asset('bundles/prode/js/scripts.js') }}"></script>
               
               <script type="text/javascript">

                    $("#guardar").on("click", function() { 
                        console.log("{{ (path('prode_homepage')) }}");
                        var r1 = $('input[id="resultado1"]').val();
                        var r2 = $('input[id="resultado2"]').val(); 
                        $.ajax({
                                    url: '{{ (path('prode_pronosticos')) }}',
                                    type: "POST",
                                    dataType: "json",
                                     data: JSON.stringify({ r1: r1, r2: r2 }), 
                                    async: true,
                                    success: function (data)
                                    {
                                        console.log(data)
                                        $('div#ajax-results').html(data.output);

                                    }
                                });
                        });
               </script>

            {% endblock %}
        </div>
    </body>
</html>
