{% extends '::base.html.twig' %}

{% block stylesheets %}

	 {{ parent() }}
	
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block header %}

{% endblock %}	

{% block sidebar %}
	{% include 'tabla.html.twig' %}
{% endblock %}	

{% block content %}
	
	<div class="grupos">

		<div class="btn-grupo"> Grupo A </div>
		<div class="btn-grupo"> Grupo B </div>
		<div class="btn-grupo"> Grupo C </div>
		<div class="btn-grupo"> Grupo D </div>
		<div class="btn-grupo"> Grupo E </div>
		<div class="btn-grupo"> Grupo F </div>
		<div class="btn-grupo"> Grupo G </div>
		<div class="btn-grupo"> Grupo H </div>

	</div>
	<div class="partidos">
		  <div class="partido">

		  	<img src="{{ asset('bundles/prode/img/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png') }}">
		  	<span>Rusia</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<img src="{{ asset('bundles/prode/img/KnSUdQWiGRoy89q4x85IgA_48x48.png') }}">

		  	<span>Uruguay</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<div class="fecha"> 15/7 17:00</div>
	
		  </div>

		  <div class="partido">
		  	<img src="{{ asset('bundles/prode/img/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png') }}">
		  	<span>Rusia</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<img src="{{ asset('bundles/prode/img/KnSUdQWiGRoy89q4x85IgA_48x48.png') }}">
		  	<span>Uruguay</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<div></div><div class="fecha">15/7 17:00</div>
	
		  </div>

		  <div class="partido">
		  	<img src="{{ asset('bundles/prode/img/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png') }}">
		  	<span>Rusia</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<img src="{{ asset('bundles/prode/img/KnSUdQWiGRoy89q4x85IgA_48x48.png') }}">
		  	<span>Uruguay</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<div></div><div class="fecha">15/7 17:00</div>
	
		  </div>

		  <div class="partido">
		  	<img src="{{ asset('bundles/prode/img/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png') }}">
		  	<span>Rusia</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<img src="{{ asset('bundles/prode/img/KnSUdQWiGRoy89q4x85IgA_48x48.png') }}">
		  	<span>Uruguay</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<div></div><div class="fecha">15/7 17:00</div>
	
		  </div>

		  <div class="partido">
		  	<img src="{{ asset('bundles/prode/img/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png') }}">
		  	<span>Rusia</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<img src="{{ asset('bundles/prode/img/KnSUdQWiGRoy89q4x85IgA_48x48.png') }}">
		  	<span>Uruguay</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<div></div><div class="fecha">15/7 17:00</div>
	
		  </div>

		  <div class="partido">
		  	<img src="{{ asset('bundles/prode/img/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png') }}">
		  	<span>Rusia</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<img src="{{ asset('bundles/prode/img/KnSUdQWiGRoy89q4x85IgA_48x48.png') }}">
		  	<span>Uruguay</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<div></div><div class="fecha">15/7 17:00</div>
	
		  </div>
{% endblock %}	

{% block footer %}

{% endblock %}	