<div class="partidos">
		{% if partidos|length > 0 %}
			{% for partido in partidos %}
			{% set termino = partido.fecha | date_modify("+2 hour") %}
					{% if date("now") > termino %}
						<div class="partido" id="{{partido.id}}">

							<img src="{{ asset('bundles/prode/img/')}}{{partido.b1}}">
							<span>{{partido.e1}}</span>
							
							<span class="menos" id="menos" role="button"
							onselectstart="return false;">-</span>

									<input class="resultado"  id= "l{{loop.index}}" type="number" value="0" max="15">

							<span class="mas" id="mas" role="button"		
							onselectstart="return false;">+</span>
							<img src="{{ asset('bundles/prode/img/') }}{{partido.b2}}">

							<span>{{partido.e2}}</span>
							<span class="menos" id="menos">-</span>

									<input class="resultado"  id= "v{{loop.index}}" type="number" value="0" max="15">
				
							<span class="mas" id="mas">+</span>
						
							<span class="fecha"> {{ partido.fecha |date('d/m H:i  -  ')}} Grupo {{partido.grupo}}</span>
							
						</div>
					{% endif %}	
				
					
			{% endfor %}

		{% else %}
			<h4> No hay partidos pendientes de carga </h4>
		{% endif %}		