{% extends 'base.html.twig' %}

{% block stylesheets %}

	 {{ parent() }}
	
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block header %}

{% endblock %}	

{% block sidebar %}
	{% include 'ProdeBundle:Default:tabla.html.twig' %}
{% endblock %}	

{% block content %}


	<div class="contentNav">

		<div class="banner"> Próximos Partidos </div>


	</div>

	<div class="partidos">
		  <div class="partido">

		  	<img src="{{ asset('bundles/prode/img/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png') }}">
		  	<span>EEUU</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<img src="{{ asset('bundles/prode/img/KnSUdQWiGRoy89q4x85IgA_48x48.png') }}">

		  	<span>Uruguay</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<div class="fecha"> 15/7 17:00</div>
	
		  </div>

		  <div class="partido">
		  	<img src="{{ asset('bundles/prode/img/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png') }}">
		  	<span>Rusia</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<img src="{{ asset('bundles/prode/img/KnSUdQWiGRoy89q4x85IgA_48x48.png') }}">
		  	<span>Uruguay</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<div></div><div class="fecha">15/7 17:00</div>
	
		  </div>

		  <div class="partido">
		  	<img src="{{ asset('bundles/prode/img/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png') }}">
		  	<span>Rusia</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<img src="{{ asset('bundles/prode/img/KnSUdQWiGRoy89q4x85IgA_48x48.png') }}">
		  	<span>Uruguay</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<div></div><div class="fecha">15/7 17:00</div>
	
		  </div>

		  <div class="partido">
		  	<img src="{{ asset('bundles/prode/img/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png') }}">
		  	<span>Rusia</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<img src="{{ asset('bundles/prode/img/KnSUdQWiGRoy89q4x85IgA_48x48.png') }}">
		  	<span>Uruguay</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<div></div><div class="fecha">15/7 17:00</div>
	
		  </div>

		  <div class="partido">
		  	<img src="{{ asset('bundles/prode/img/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png') }}">
		  	<span>Rusia</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<img src="{{ asset('bundles/prode/img/KnSUdQWiGRoy89q4x85IgA_48x48.png') }}">
		  	<span>Uruguay</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<div></div><div class="fecha">15/7 17:00</div>
	
		  </div>

		  <div class="partido">
		  	<img src="{{ asset('bundles/prode/img/5Y6kOqiOIv2C1sP9C_BWtA_48x48.png') }}">
		  	<span>Rusia</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<img src="{{ asset('bundles/prode/img/KnSUdQWiGRoy89q4x85IgA_48x48.png') }}">
		  	<span>Uruguay</span>
		  	<span class="menos">-</span>
		  	<input class="resultado" id="number" type="number">
		  	<span class="mas">+</span>
		  	<div></div><div class="fecha">15/7 17:00</div>
	
		  </div>
{% endblock %}	

{% block footer %}

{% endblock %}	