{% extends '::base.html.twig' %}

{% block stylesheets %}

	 {{ parent() }}
	
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block header %}

{% endblock %}	

{% block sidebar %}
	{% include 'ProdeBundle:Default:tabla.html.twig' %}
{% endblock %}	

{% block content %}


	<div class="grupos">
	{% for grupo in 'A'..'H' %}
		{% if grupo == partidos[1].grupo %}
			<a class="btn-grupo btn-grupo-elegido "> Grupo {{grupo}} </a>
		{% else %}
			<a href="{{ path('grupo', {'grupo': grupo, 'active': 1}) }}" class="btn-grupo"> Grupo {{grupo}} </a>
		{% endif %}
	{% endfor %}
	</div>



	<div class="partidos">
		{% for partido in partidos %}
		  <div class="partido">

		  	<img src="{{ asset('bundles/prode/img/')}}{{partido.b1}}">
		  	<span>{{partido.e1}}</span>
		  	<span class="menos" id="menos1" role="button"
		  	onselectstart="return false;">-</span>
		  	<input class="resultado" id="resultado1" type="number" value="{{partido.resultado1}}" max="15">
		  	<span class="mas" id="mas1" role="button"		
 			onselectstart="return false;">+</span>
		  	<img src="{{ asset('bundles/prode/img/') }}{{partido.b2}}">

		  	<span>{{partido.e2}}</span>
		  	<span class="menos" id="menos2">-</span>
		  	<input class="resultado" id="resultado2" type="number" value="{{partido.resultado2}}" max="15">
		  	<span class="mas" id="mas2">+</span>
		
		  	<div class="fecha"> {{ partido.fecha |date('d/m H:i  -  ')}} Grupo {{partido.grupo}}</div>
	
		  </div>
		{% endfor %}
{% endblock %}	

{% block footer %}

{% endblock %}	