{% extends '::base.html.twig' %}

{% block stylesheets %}

	 {{ parent() }}
	
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block header %}

{% endblock %}	

{% block sidebar %}
	{% include 'ProdeBundle:Default:tabla.html.twig' %}
{% endblock %}	

{% block content %}


	<div class="grupos">
	{% for grupo in 'A'..'H' %}
		{% if grupo == partidos[0].grupo %}
			<a class="btn-grupo btn-grupo-elegido "> Grupo {{grupo}} </a>
		{% else %}
			<a href="{{ path('grupo', {'grupo': grupo }) }}" class="btn-grupo"> Grupo {{grupo}} </a>
		{% endif %}
	{% endfor %}
	{% if app.user %}
			<a href="#"  data-url="{{ (path('prode_homepage')) }}" class="btn-nav-guardar" id="guardar">GUARDAR</a>
			 {% else %}
			 	<div></div>
	{% endif %}
	</div>

		{% include 'ProdeBundle:Default:partidos.html.twig' %}	  
	
	</div>
{% endblock %}	

{% block footer %}

{% endblock %}	

{% block javascripts %}
	{% include 'ProdeBundle:Default:javascript.html.twig' %}
{% endblock %}	